<%- include("templates/encabezado")%>
    <h1>Inicio</h1>
    <%
        var numero=100;
        console.log(numero);
        var nombre="Guerrero";
    %>
    <%= numero%>
    <a href="/formulario">ir acerca de</a>
<%- include("templates/pie")%>